% {lib_dirs, ["deps"]}.

{erl_opts, [
    debug_info,
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.


{deps, [
    {nkservice, {git, "https://github.com/netcomposer/nkservice.git", {branch, "v10"}}},
    % {marina, {git, "https://github.com/lpgauth/marina.git", {tag, "0.2.17"}}},
    {cqerl, {git, "https://github.com/matehat/cqerl.git", {tag, "v1.0.8"}}}
]}.



